<% content_for :title do%> Add Product <%end%>

<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'categoryCreate' %>
<% end %>

<% content_for :content do %>
<div id="category-create-view-container">
</div>
<% end %>
